<!DOCTYPE html >
<html lang="en" ng-app>
<head >
	<title >Data Binding</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet" >
	<link href="main.css"
	      rel="stylesheet" >
</head >

<body >
	<input type="text" ng-model="name">
	<select class="select" ng-model="fave">
		<option value="cats">Cats</option>

	</select>
	<h2>My name is {{name}}!</h2>
	<h3>I love {{fave}}
<div class="container" >
</div >

<script src="../libs/angular/angular.min.js" ></script >
</body >
</html >
